{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

if ! command -v brew &> /dev/null; then
  echo "Installing Homebrew..."
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo "Installing packages from Brewfile..."
/opt/homebrew/bin/brew bundle --file ~/Brewfile
{{- end -}}
